@inherits LayoutComponentBase

<PageTitle>GriffSoft.SmartSearch.Frontend</PageTitle>

<div class="page">
    <main>
        <article class="bg-dark text-white">
            @Body
        </article>
    </main>
</div>
