.max-height-flex-column {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.stretch {
    flex: 1;
}

.grid {
    overflow-y: auto;
}

::deep thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

::deep th:first-child {
    width: 30%;
}

::deep th:nth-child(2) {
    width: 20%;
}

::deep th:not(:first-child):not(:nth-child(2)) {
    width: calc(50% / 5);
    padding-bottom: 0;
}

::deep td {
    height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .quickgrid[theme=custom] td:first-child {
    font-weight: bold;
}

::deep .quickgrid[theme=custom] .col-options {
    min-width: 250px;
    color: white;
    background-color: #212529;
    font-weight: normal;
}
